@import '~flexstyl/flex';

.timetableWrap
  flex styl
  flex column
  flex center

  nav
    color teal
    flex styl
    flex center

    p
      margin 0

    p, select
      font-size 1.2em
      color teal

    select
      background none
      border none
      outline none
      cursor pointer

.timetable
  flex line
  background #fff
  overflow hidden
  border-radius .25em
  box-shadow 0 .1em .3em rgba(#000, .4)

  .today
    background rgba(teal, .2)

  .column
    flex styl
    color #444
    flex column
    border-right .1em solid teal

    .row
      padding .5em .75em
      text-align center

      &.empty
        flex grow

      &.full
        border-bottom .1em solid teal

      div
        color teal
        flex styl
        justify around

      &.active
        color teal
        font-weight bold

  .bells .row
    flex styl
    flex grow
    flex center

    &:first-child
      flex nogrow

  .title, .bells
    font-weight bold
    color #fff

    .row, &.row
      margin 0
      padding .75em
      background teal
